{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}
<h2>Editando</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagem/banco/editar" method="post">            
            <input type="hidden" name="id" value="{{dados._id}}">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" value="{{dados.titulo}}" class="form-control">

            <label for="slug">Slug</label>
            <input type="text" name="slug" value="{{dados.slug}}" class="form-control">

            <label for="descricao">Descricao</label>
            <input type="text" name="descricao" value="{{dados.descricao}}" class="form-control">

            <label for="conteudo">Conteudo</label>
            <textarea name="conteudo" class="form-control">{{dados.conteudo}}</textarea>

            <select name="categoria" id="categoria">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                    <option value="0">Nao existe categorias registrada</option>
                {{/each}}

            </select>
            <button type="submit" class="btn btn-success">Criar postagem</button>

        </form>
    </div>
</div>